body {
	font-family: verdana, arial, sans-serif;
	font-size:11pt;
	margin:0px;

}
#main-ui {
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	max-width:80%;
	margin-top:25px;
}

#main-ui * {
	text-align:left;
}

#main-ui td {
	vertical-align:top;
}

#editor-container {
	padding-right:10px;
}

#editor-container textarea {
	width:100%;
	height:100%;
}

#sidebar {
	width:300px;
	height:100%;
	border: 1px solid #ccc;
	border-top:none;
	border-right:none;
	background-color:#f1f1ff;
	padding-left: 10px;
}

#sidebar>div {
	margin-bottom: 20px;
	margin-top: 5px;
}

#sidebar select {
	width: 97%;
}

#show-status {
	color:red;
}
#show-status.on{
	color:green;
}
#copyright {
	font-family:monospace;
	background-color:#fefefe;
	font-size:9pt;
	margin-top:10px;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	padding-bottom: 5px;
	padding-top:10px;
}

#accept-controls {
	position:relative;
	border: 1px solid black;
	border-radius: 3px;
	padding: 4px;
	width:90%;
	padding-top: 16px;
}

#accept-controls #links {
	margin-top: 15px;
	margin-bottom: 10px;
}

#accept-controls #links>div {
	display:inline-block;
	line-height:2em;
}

#accept-controls #links>div:nth-child(1) {
	margin-right: 15px;
	padding-right: 10px;
	border-right: 1px solid #999999;		
}

#accept-controls #accept-title {
	position:absolute;
	top: -9px;
	left: 5px;
	background-color: #f1f1ff;
	padding:0px 4px 0px 2px;
}

#accept-controls #links label {
	font-weight:bold;
}

a.btn {
	text-transform: capitalize;
	padding: 3px 5px 3px 5px;
	text-align: center;
	border-radius: 4px;
	border: 1px outset #aaaaaa;
	background-color: #bbbbbb;
	color: #fefefe;
	text-decoration:none;
}

a.btn:hover {
	text-decoration:underline;
}

.title {
	display:block;
	font-weight: bold;
}

.ckeditor-version-name {
	text-shadow: #fff 1px 1px;
	background: #efefef;
	padding: 2px;
}

button,
.button {
  position:fixed;
  width:100%;
  cursor : pointer;
  top:0;
  
  border-style : solid;
  border-width : 1px;
  border-radius : 0px;
  padding : 10px 18px;
  box-shadow : 0 1px 4px rgba(0,0,0,.6);
  font-size : 9.5pt;
  font-weight : bold;
  color : #fff;
  text-shadow : 0 1px 3px rgba(0,0,0,.4);
  font-family : sans-serif;
  text-decoration : none;
}

button.blue,
.button.blue {
  border-color : #2989d8;
  background: #2989d8;
  background: -moz-linear-gradient(top, #2989d8 0%, #1e5799 100%);
  background: -webkit-gradient(linear, left top, left bottom, 
    color-stop(0%,#2989d8), color-stop(100%,#1e5799));
  background: -webkit-linear-gradient(top, #2989d8 0%,#1e5799 100%);
  background: -o-linear-gradient(top, #2989d8 0%,#1e5799 100%);
  background: -ms-linear-gradient(top, #2989d8 0%,#1e5799 100%);
  background: linear-gradient(top, #2989d8 0%,#1e5799 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( 
    startColorstr='#2989d8', endColorstr='#1e5799',GradientType=0 );
}