body {
	font-family: verdana, arial, sans-serif;
	font-size:11pt;
}
#main-ui {
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	max-width:80%;
}

#main-ui * {
	text-align:left;
}

#main-ui td {
	vertical-align:top;
}

#editor-container {
	padding-right:10px;
}

#editor-container textarea {
	width:100%;
	height:100%;
}

#sidebar {
	width:300px;
	height:100%;
	border: 1px solid #ccc;
	border-top:none;
	border-right:none;
	background-color:#f1f1ff;
	padding-left: 10px;
}

#sidebar>div {
	margin-bottom: 20px;
	margin-top: 5px;
}

#sidebar select {
	width: 97%;
}

#show-status {
	color:red;
}
#show-status.on{
	color:green;
}
#copyright {
	font-family:monospace;
	background-color:#fefefe;
	font-size:9pt;
	margin-top:10px;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	padding-bottom: 5px;
	padding-top:10px;
}

#accept-controls {
	position:relative;
	border: 1px solid black;
	border-radius: 3px;
	padding: 4px;
	width:90%;
	padding-top: 16px;
}

#accept-controls #links {
	margin-top: 15px;
	margin-bottom: 10px;
}

#accept-controls #links>div {
	display:inline-block;
	line-height:2em;
}

#accept-controls #links>div:nth-child(1) {
	margin-right: 15px;
	padding-right: 10px;
	border-right: 1px solid #999999;		
}

#accept-controls #accept-title {
	position:absolute;
	top: -9px;
	left: 5px;
	background-color: #f1f1ff;
	padding:0px 4px 0px 2px;
}

#accept-controls #links label {
	font-weight:bold;
}

a.btn {
	text-transform: capitalize;
	padding: 3px 5px 3px 5px;
	text-align: center;
	border-radius: 4px;
	border: 1px outset #aaaaaa;
	background-color: #bbbbbb;
	color: #fefefe;
	text-decoration:none;
}

a.btn:hover {
	text-decoration:underline;
}

.title {
	display:block;
	font-weight: bold;
}

.ckeditor-version-name {
	text-shadow: #fff 1px 1px;
	background: #efefef;
	padding: 2px;
}